{# @var gateway brightlabs\securepay\gateways\Gateway #}
{# @var paymentForm brightlabs\securepay\models\SecurePayPaymentForm #}
{% do view.registerCss("
#securepay-card-component iframe{
    width: 100%;
}
") %}
{% import "_includes/forms" as forms %}

<div class="securepay-payment-form" id="securepay-payment-form">
    {# SecurePay UI Component Container #}
    <div id="securepay-card-component" class="securepay-card-component">
        {# This will be populated by the SecurePay JavaScript SDK #}
    </div>
    {# Hidden fields for Craft Commerce form submission #}
    <input type="hidden" name="scheme" id="cartScheme" value="">
    <input type="hidden" name="createdAt" id="cartCreatedAt" value="">
    <input type="hidden" name="token" id="cartToken" value="">

    {# Payment processing status #}
    <div id="payment-processing" class="payment-processing" style="display: none;">
        <div class="spinner"></div>
        <p>{{ 'Processing your payment...'|t('commerce') }}</p>
    </div>
</div>
